@font-face {
  font-family: 'Geneva';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/Geneva.ttf') format('truetype');
}
/*----------------------------------------------------------------------------*/
/*                                  Custom Styles                             */
/*----------------------------------------------------------------------------*/
.clearfix:after,
.clearfix:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
}
a:hover{
    text-decoration: underline;
}
a span:hover{
    text-decoration: underline;
}
body {
  background-image: url(/img/bg/main_bgr.png);
  width: 990px;
  margin: 0 auto;
  border-radius: 4px;
}
body > section {
  background-color: white;
}
.wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 4px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color=#A1A1A1)";/*IE 8*/
-moz-box-shadow: 0 0 2px 2px rgba(161,161,161,0.6);/*FF 3.5+*/
-webkit-box-shadow: 0 0 2px 2px rgba(161,161,161,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 2px 2px rgba(161,161,161,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#A1A1A1); /*IE 5.5-7*/
}
.front-page .wrapper {
  background: url(/img/bg/front-top-bg.png) no-repeat top center, url(/img/bg/front-center-bg.png) no-repeat 0px 335px, url(/img/bg/front-top-left-bg.png) no-repeat top left, url(/img/bg/front-top-right-bg.png) no-repeat top right, #ffffff;
}
.front-page .branding {
  height: 443px;
  border-top-left-radius: 4px;
}
.front-page .branding .logo {
  margin-top: 80px;
  height: 125px;
  display: block;
  text-indent: -9999px;
  background: url(/img/misc/front-logo.png) no-repeat left;
}
.hero {
  height: 443px;
  border-top-right-radius: 4px;
}
.top-nav {
  line-height: 1.2;
}
.top-nav > a {
  padding-top: 38px;
  color: white;
  font-size: 16px;
  border-right: 1px solid #fff;
}
.top-nav > a:last-child span {
  font-size: 16px;
  margin-top: 20px;
}
.top-nav > a:nth-child(1) {
  width: 17%;
}
.top-nav > a span {
  margin-left: -3px;
  float: left;
}
.top-nav > a div.tn-bg-1,
.top-nav > a div.tn-bg-2 {
  height: 40px;
  width: 40px;
  margin-top: -2px;
  float: left;
}
.top-nav > a div.tn-bg-1 {
  background: url(/img/misc/sprite.png) no-repeat left;
  background-position: -130px -55px, center;
}
.top-nav > a div.tn-bg-2 {
  background: url(/img/misc/sprite.png) no-repeat left;
  background-position: -125px 0, center;
}
.top-nav > a div.tn-bg-3 {
  height: 66px;
  width: 50px;
  margin: 0 -15px -37px 0px;
  background: url(/img/misc/sprite.png) no-repeat left;
  background-position: -125px -110px, center;
  float: left;
}
#first-slider .carousel-inner {
  width: 75%;
}
.first-slider-holder {
  margin-top: 107px;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
  outline: 0;
  color: #ffffff;
  text-decoration: none;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .vid-prev,
.carousel-control .vid-next {
  position: absolute;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev {
  left: 50%;
  background: url(/img/misc/prev.png) no-repeat right;
  -webkit-background-size: contain contain;
  background-size: contain;
}
.carousel-control .icon-next {
  right: 50%;
  background: url(/img/misc/next.png) no-repeat right;
  -webkit-background-size: contain contain;
  background-size: contain;
}
.carousel-control .vid-prev {
  left: 50%;
  background: url(/img/misc/sprite.png) no-repeat right;
  background-position: 0 -66px, center;
}
.carousel-control .vid-next {
  right: 50%;
  background: url(/img/misc/sprite.png) no-repeat right;
  background-position: 0 -128px, center;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  top: 50%;
  width: 42px;
  height: 42px;
  margin-top: -21px;
  opacity: .6;
}
.carousel-control .icon-prev:hover,
.carousel-control .icon-next:hover {
  opacity: 1;
}
.carousel-control .vid-prev,
.carousel-control .vid-next {
  top: 72%;
  width: 70px;
  height: 63px;
  opacity: .6;
}
.carousel-control .vid-prev:hover,
.carousel-control .vid-next:hover {
  opacity: 1;
}
.carousel-control .icon-prev:before {
  content: '';
}
.carousel-control .icon-next:before {
  content: '';
}
#first-slider .carousel-control.left {
  margin-left: 25px;
}
#first-slider .carousel-control.right {
  margin-right: 25px;
}
#second-slider .carousel-control.left {
  margin-left: 25px;
}
#second-slider .carousel-control.right {
  margin-right: 35px;
}
.carousel-indicators {
  bottom: -50px;
  margin-left: 0;
  left: 36%;
}
.carousel-indicators li {
  width: 20px;
  height: 20px;
  border: 3px solid #98c8ed;
  margin: 0 3.5px;
}
.carousel-indicators .active {
  width: 20px;
  height: 20px;
  background-color: #fff;
}
#first-slider .carousel-inner .item {
  -webkit-transition: opacity 2s;
  -o-transition: opacity 2s;
  transition: opacity 2s;
}
#first-slider .carousel-inner .active.left,
#first-slider .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 2;
}
#first-slider .carousel-inner .next,
#first-slider .carousel-inner .prev {
  left: 0;
  opacity: 1;
  z-index: 1;
}
.front-page .left-sidebar {
  height: 334px;
}
.front-page .search-bar {
  margin-top: -13px;
}
.search-form {
  height: 25px;
}
.search-txt {
  border: 2px solid #343755;
  height: 23px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  vertical-align: middle;
  float: left;
}
.btn {
  border: 2px solid #343755;
  text-transform: uppercase;
}
.btn-xs {
  padding: 2px 9px 4px 9px;
  font-size: 8px;
  line-height: 1.2;
}
.search-form .btn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.search-form .btn i {
  font-size: 11px;
  margin-right: 6px;
}
.search-form .search-form-spacer {
  float: left;
  width: 32px;
  height: 23px;
  border-bottom: 2px solid #343755;
  border-top: 2px solid #343755;
  background: -moz-linear-gradient(0deg, #b0b0b0 7%, #f5f6f4 54%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, 0deg, color-stop(7%, B0B0B0), color-stop(54%, F5F6F4));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(0deg, #b0b0b0 7%, #f5f6f4 54%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(0deg, #b0b0b0 7%, #f5f6f4 54%);
  /* Opera 11.10+ */
  /* IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');
  /* for IE */
  background: -webkit-linear-gradient(90deg, #b0b0b0 7%, #f5f6f4 54%);
  background: -o-linear-gradient(90deg, #b0b0b0 7%, #f5f6f4 54%);
  background: linear-gradient(0deg, #b0b0b0 7%, #f5f6f4 54%);
  /* W3C */
}
.left-menu {
  margin-top: 22px;
}
.left-menu li {
  font-size: 21px;
  line-height: .95;
  background: url(/img/bg/main-menu-bg.png) no-repeat left bottom;
}
.left-menu li a {
  color: #737373;
  position: relative;
  width: 250px;
}
.left-menu li a:hover {
  -webkit-transition: color 1.5s;
  -o-transition: color 1.5s;
  transition: color 1.5s;
  color: rgba(0, 120, 215, 0.8);
}
.left-menu li a:after {
  content: "";
  position: absolute;
  top: -3px;
  left: -0.5em;
  width: 100%;
  height: 105%;
  background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), color-stop(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0))) no-repeat -2em 0%;
  background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
  background: -o-linear-gradient(right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0)) no-repeat -2em 0%;
  -webkit-background-size: 2em 100%;
  background-size: 2em 100%;
  -webkit-transform: skewX(-50deg);
  -ms-transform: skewX(-50deg);
  -o-transform: skewX(-50deg);
  transform: skewX(-50deg);
  opacity: 1;
}
.left-menu li a:hover:after {
  -webkit-transition-property: background, opacity;
  -o-transition-property: background, opacity;
  transition-property: background, opacity;
  -webkit-transition-duration: 1s, .3s;
  -o-transition-duration: 1s, .3s;
  transition-duration: 1s, .3s;
  -webkit-transition-delay: 0s, .8s;
  -o-transition-delay: 0s, .8s;
  transition-delay: 0s, .8s;
  -webkit-transition-timing-function: linear, ease-in;
  -o-transition-timing-function: linear, ease-in;
  transition-timing-function: linear, ease-in;
  background-position: center right;
  opacity: 0;
}
.left-menu li:last-of-type:before {
  content: "";
  background: url(/img/misc/sprite.png) no-repeat right;
  background-position: -25px -195px, center;
  width: 19px;
  height: 24px;
  position: absolute;
  left: -20px;
}
.phone {
  float: left;
  margin-top: 85px;
}
.lamp {
  height: 52px;
  width: 52px;
  float: left;
  background: url(/img/misc/sprite.png) no-repeat right;
  background-position: -127px -178px, center;
  clear: both;
  margin-bottom: 22px;
}
.phone-number-box {
  float: left;
  clear: both;
  border: 2px solid #eee;
  border-radius: 16px;
  background-color: white;
  z-index: 5;
  position: relative;
  width: 204px;
  padding: 2px 0;
  font-size: 18px;
}
.call-to,
.phone-number {
  display: block;
  float: left;
  /* FF3.5+ */
  -webkit-transform: rotate(0deg) scale(0.6, 1) skew(0deg, 0deg) translate(0, 0);
  /*Saf3.1+, Chrome*/
  -o-transform: rotate(0deg) scale(0.6, 1) skew(0deg, 0deg) translate(0, 0);
  /* Opera 10.5 */
  -ms-transform: rotate(0deg) scale(0.6, 1) skew(0deg, 0deg) translate(0, 0);
  /* IE 9 */
  transform: rotate(0deg) scale(0.6, 1) skew(0deg, 0deg) translate(0, 0);
}
.phone-number {
  color: #6796a0;
  font-weight: 700;
  margin: 0 -10px 0 -10px;
}
.call-to {
  color: black;
  margin: 0 -10px 0 -10px;
}
.vid-description {
  border-radius: 10px;
  background-color: #343755;
  color: white;
  margin-top: -12px;
  margin-bottom: 5px;
  width: 178px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color=#F5F5F5)";
  /*IE 8*/
  /*FF 3.5+*/
  -webkit-box-shadow: 0 2px 2px 3px rgba(245, 245, 245, 0.7);
  /*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 2px 2px 3px rgba(245, 245, 245, 0.7);
  /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#f5f5f5);
  /*IE 5.5-7*/
}
#second-slider {
  margin-bottom: 40px;
  background: url(/img/bg/video-bg.png) no-repeat top left;
}
#second-slider .carousel-inner {
  width: 170px;
  height: 277px;
}
#second-slider .carousel-inner .item {
  margin: auto;
  top: 50%;
  margin-top: -40px;
}
.second-slider-holder {
  z-index: 3;
}
.footer {
  background-color: #0078D7;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  height: 258px;
}
.footer .footer-menu-block {
  margin-top: 46px;
}
.footer .footer-menu-block ul {
  padding-left: 0px;
}
.footer .footer-menu-block ul li {
  list-style: none;
}
.footer .footer-menu-block ul li a {
  color: white;
  font-size: 12px;
}
.footer .social {
  margin-top: 160px;
  z-index: 2;
  position: relative;
}
.footer .social .social-links li {
  display: inline-block;
}
.footer .social .social-links li a {
  display: block;
  height: 25px;
  width: 25px;
  text-indent: -9999px;
  text-align: center;
}
.footer .social .social-links li a.facebook {
  background: url(/img/misc/sprite.png) no-repeat left;
  background-position: -77px -66px, center;
}
.footer .social .social-links li a.twitter {
  background: url(/img/misc/sprite.png) no-repeat left;
  background-position: -77px -94px, center;
}
.footer .social .social-links li a.googleplus {
  background: url(/img/misc/sprite.png) no-repeat left;
  background-position: -77px -123px, center;
}
.footer .social .social-links li a.linkedin {
  background: url(/img/misc/sprite.png) no-repeat left;
  background-position: -77px -151px, center;
}
.footer .social p {
  color: #3a44ad;
  font-size: 11px;
}
ul.social-links {
  padding-left: 0;
}
.front-page .footer:after {
  content: "";
  position: absolute;
  top: -165px;
  right: 0;
  width: 424px;
  height: 423px;
  background: url(/img/bg/home-footer-bg.png) no-repeat top right;
  border-bottom-right-radius: 4px;
}
.uyelik {
  margin-top: 58px;
  margin-bottom: 7px;
  width: 82px;
  height: 37px;
  background: url(/img/misc/sprite.png) no-repeat left;
  background-position: -21px -15px, center;
  color: white;
  line-height: 1.8;
  padding-left: 10px;
}
.copyright p {
  color: white;
  font-size: 8px;
}
h1 {
  color: #408bd9;
  font-family: Tahoma, sans-serif;
  margin-top: 10px;
}
h1 b {
  font-weight: 700;
}
h2 {
  margin-bottom: 20px;
}
.content-page .wrapper {
  background: url(/img/bg/page-head-bg.png) no-repeat top left, url(/img/bg/page-content-bg.png) no-repeat 0px 350px, #ffffff;
}
.content-page .header {
  height: 155px;
}
.content-page .header a.logo {
  display: block;
  width: 151px;
  height: 85px;
  background: url(/img/misc/logo.png) no-repeat top left;
  text-indent: -9999px;
  margin-top: 95px;
  margin-left: 95px;
}
.content-page .header .top-page-link {
  margin-top: 30px;
}
.page-container-inner {
  min-height: 544px;
}
.page-left-sidebar {
  float: left;
  margin-top: 30px;
  padding-top: 43px;
}
.page-logo {
  float: left;
  width: 126px;
  height: 118px;
  margin-top: 35px;
  margin-bottom: 30px;
}
.page-1-logo {
  background: url(/img/misc/page-1-sprite.png) no-repeat top left;
  background-position: 0 0,center;
}
.page-image {
  width: 305px;
  height: 215px;
  float: left;
  margin-top: 60px;
}
.page-1-image {
  background: url(/img/misc/page-1-sprite.png) no-repeat top left;
  background-position: -76px -138px, center;
}
.content-page .left-menu {
  margin-left: 65px;
}
.content-page .header {
  border-top-left-radius: 4px;
}
.page-content {
  padding-top: 10px;
  float: left;
  position: relative;
  margin-bottom: 30px;
}
.page-content:before {
  content: "";
  position: absolute;
  left: -35px;
  width: 2px;
  border-right: 2px dotted #c0ddf4;
  height: -webkit-calc(100% - 120px);
  height: calc(100% - 120px);
  top: 60px;
}
.page-header {
  padding-bottom: 12px;
  margin: 10px 0 10px 0;
  border-bottom: 2px dotted #c0ddf4;
}
.page-text {
  padding-right: 50px;
}
.lead {
  color: #0077d3;
  margin-top: 20px;
  letter-spacing: -0.1em;
  line-height: 1;
  font-size: 43px;
}
.lead .lvl-1 {
  font-size: 58px;
}
.lead .lvl-2 {
  font-size: 43px;
}
.content-page .footer {
  position: relative;
}
.content-page .footer > div:last-of-type {
  height: 258px;
  border-bottom-right-radius: 4px;
  position: relative;
  z-index: 2;
}
.content-page .footer:after {
  content: "";
  position: absolute;
  top: -32px;
  right: 0;
  width: 327px;
  height: 290px;
  background: url(/img/bg/page-bottom-bg.png) no-repeat top left;
  border-bottom-right-radius: 4px;
}
