// Core variables
@import "variables.less";

//Theme variables overrides
@import "custom-variables.less";

// Core mixins
@import "mixins.less";
/*----------------------------------------------------------------------------*/
/*                                  Custom Styles                             */
/*----------------------------------------------------------------------------*/

.clearfix:after, .clearfix:before  {
	content:".";
	display:block;
	height:0;
	clear:both;
	overflow:hidden;
	}
        
a:hover{
    text-decoration: underline;
}

body{
    background-image: @bg-img;
    width:990px;
    margin: 0 auto;
    border-radius: 4px;
}

body>section{
    background-color: white;
}

//-------------------------------------------------------------Front Page styles
.wrapper{
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: @body-border-radius;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color=#A1A1A1)";/*IE 8*/
-moz-box-shadow: 0 0 2px 2px rgba(161,161,161,0.6);/*FF 3.5+*/
-webkit-box-shadow: 0 0 2px 2px rgba(161,161,161,0.6);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 0 2px 2px rgba(161,161,161,0.6);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#A1A1A1); /*IE 5.5-7*/
}
.front-page .wrapper{
    background: url(/img/bg/front-top-bg.png) no-repeat top center,
                url(/img/bg/front-center-bg.png) no-repeat 0px 335px,
                url(/img/bg/front-top-left-bg.png) no-repeat top left,
                url(/img/bg/front-top-right-bg.png) no-repeat top right,
                #ffffff;    
}

.front-page .branding{
    height: 443px;
    border-top-left-radius: @body-border-radius;
    .logo{
        margin-top: 80px;
        height: 125px;
        display: block;
        text-indent: -9999px;
        background: url(/img/misc/front-logo.png) no-repeat left
    }
}

.hero{
    height: 443px;
    border-top-right-radius: @body-border-radius;
}

//----------------------------------------------------------------Front Top menu
.top-nav {
    line-height: 1.2;
    
    &>a{    
    padding-top: 38px;
    color:white;
    font-size: 16px;
    border-right: 1px solid #fff;
    &:last-child{       
        span {
            font-size: 16px;
            margin-top: 20px;
            }
    }    
    &:nth-child(1){
        width:17%;
    }
    span{
        margin-left: -3px;
        float: left;
        }
    }
}

.top-nav>a{
    
    div.tn-bg-1, div.tn-bg-2{
        height: 40px;
        width: 40px;
        margin-top: -2px;
        float: left;
    }
    div.tn-bg-1 {
        background: url(/img/misc/sprite.png) no-repeat left;
        background-position: -130px -55px, center;
    }
    div.tn-bg-2 {
        background: url(/img/misc/sprite.png) no-repeat left;
        background-position: -125px 0, center;
    }
    div.tn-bg-3 {
        height: 66px;
        width: 50px;
        margin: 0 -15px -37px 0px;
        background: url(/img/misc/sprite.png) no-repeat left;
        background-position: -125px -110px, center;
        float: left;
    }
}
//------------------------------------------------First slider position and slide width
#first-slider{
    .carousel-inner{
        width: 75%;
    }
}

.first-slider-holder{
    margin-top: 107px;
}

//---------------------------------------------Override standard carousel styles
.carousel-control {
  // Set gradients for backgrounds
  &.left {
    #gradient > .horizontal(@start-color: rgba(0,0,0,0); @end-color: rgba(0,0,0,0));    
  }
  &.right {
    #gradient > .horizontal(@start-color: rgba(0,0,0,0); @end-color: rgba(0,0,0,0));
  }

  // Hover/focus state
  &:hover,
  &:focus {
    outline: 0;
    color: @carousel-control-color;
    text-decoration: none;
    .opacity(.9);
  }

  // Toggles
  .icon-prev,
  .icon-next,
  .vid-prev,
  .vid-next {
    position: absolute;
    z-index: 5;
    display: inline-block;
  }
  .icon-prev {
    left: 50%;
    background:url(/img/misc/prev.png) no-repeat right;
    background-size: contain;
  }
  .icon-next {
    right: 50%;
    background:url(/img/misc/next.png) no-repeat right;
    background-size: contain;
  }
  .vid-prev{
    left: 50%;
    background:url(/img/misc/sprite.png) no-repeat right; 
    background-position:0 -66px,center;
  }
   .vid-next {
    right: 50%;    
    background:url(/img/misc/sprite.png) no-repeat right; 
    background-position:0 -128px, center;
   }
   
  .icon-prev,
  .icon-next {
    top: 50%;
    width:  42px;
    height: 42px;
    margin-top: -21px;
    opacity: .6;
        &:hover{
        opacity:1;
         }
  }
  
  .vid-prev,
  .vid-next{
     top:72%;
     width:  70px;
    height: 63px;
    opacity: .6;
    &:hover{
        opacity:1;
         }
  }
  .icon-prev {
    &:before {
      //content: '\2039';// SINGLE LEFT-POINTING ANGLE QUOTATION MARK (U+2039)
      content: '';
      
    }
  }
  .icon-next {
    &:before {
      //content: '\203a';// SINGLE RIGHT-POINTING ANGLE QUOTATION MARK (U+203A)
      content: '';
    }
  }
}

//-------------------------------------------------------Slider Controls margins
#first-slider .carousel-control.left {
    margin-left: 25px;
}

#first-slider .carousel-control.right {
    margin-right: 25px;
}

#second-slider .carousel-control.left{
    margin-left: 25px;
}
#second-slider .carousel-control.right{
    margin-right: 35px;
}


.carousel-indicators {
    bottom: -50px;
    margin-left: 0;
    left: 36%;
    li{
        width: 20px;
        height: 20px;
        border:3px solid #98c8ed;
        margin: 0 3.5px;
        
    }
    .active{
        width: 20px;
        height: 20px;
        background-color: #fff;
    }
}

//-----------------------------------------------------First slider fade effect
//http://untame.net/2013/04/twitter-bootstrap-carousel/
#first-slider .carousel-inner {
   .item {
    -webkit-transition: opacity 2s;
    -moz-transition: opacity 2s;
    -ms-transition: opacity 2s;
    -o-transition: opacity 2s;
    transition: opacity 2s;
}
    .active.left, .active.right {
        left:0;
        opacity:0;
        z-index:2;
    }
    .next, .prev {
        left:0;
        opacity:1;
        z-index:1;
    }
}

//------------------------------------------------------------Front Left Sidebar

.front-page .left-sidebar{
    height: 334px;
}

.front-page .search-bar{
    margin-top: -13px;
}

//------------------------------------------------------------------ Search form
.search-form{
    height: 25px;
}

.search-txt{
    border: @btn-border;
    height: 23px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    vertical-align: middle;
    float: left;
}

.btn{
    border: @btn-border;
    text-transform: uppercase;
}

.btn-xs {
    padding: 2px 9px 4px 9px;
    font-size: 8px;
    line-height: 1.2;
}

.search-form { 
    .btn{
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
        i{
            font-size: 11px;
            margin-right: 6px;
        }
    }
    .search-form-spacer{
        float: left;
        width: 32px;
        height: 23px;
        border-bottom: @btn-border;
        border-top: @btn-border;
        bbackground: -moz-linear-gradient(0deg, #B0B0B0 7%, #F5F6F4 54%);/* FF3.6+ */
        background: -webkit-gradient(linear, 0deg, color-stop(7%, B0B0B0), color-stop(54%, F5F6F4));/* Chrome,Safari4+ */
        background: -webkit-linear-gradient(0deg, #B0B0B0 7%, #F5F6F4 54%);/* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(0deg, #B0B0B0 7%, #F5F6F4 54%);/* Opera 11.10+ */
        background: -ms-linear-gradient(0deg, #B0B0B0 7%, #F5F6F4 54%);/* IE10+ */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1'); /* for IE */
        background: linear-gradient(0deg, #B0B0B0 7%, #F5F6F4 54%);/* W3C */
    }
}

//-------------------------------------------------------------------- Left menu
.left-menu{
    margin-top: 22px;
    
    li{
        font-size: 21px;        
        line-height: .95;
        background:url(/img/bg/main-menu-bg.png) no-repeat left bottom; 

        a{
            color:@text-color;
            position: relative;
            width:250px;
            &:hover{
                transition: color 1.5s;
                color:rgba(0, 120, 215, 0.8);
            }    
            &:after{
                content: "";
                position: absolute; 
                top: -3px; 
                left: -.5em;
                width: 100%;
                height: 105%;
                
                background: linear-gradient(to left, rgba(255,255,255,.0), rgba(255,255,255,.8), rgba(255,255,255,.0)) no-repeat -2em 0%;
                background-size: 2em 100%;
                transform: skewX(-50deg);
                opacity: 1;
            }
            &:hover:after{
                transition-property: background, opacity;
                transition-duration: 1s, .3s;
                transition-delay: 0s, .8s;
                transition-timing-function: linear, ease-in;
                background-position: center right;
                opacity: 0;
            }
        }
        &:last-of-type:before{
            content: "";
            background:url(/img/misc/sprite.png) no-repeat right; 
            background-position:-25px -195px, center;
            width: 19px;
            height: 24px;
            position: absolute;
            left: -20px;
        }
        
    }
}

//------------------------------------------------------------------Phone number
.phone{
    float:left;   
    margin-top: 85px;
}

.lamp{
    height: 52px;
    width:52px;
    float:left;
    background:url(/img/misc/sprite.png) no-repeat right; 
    background-position:-127px -178px, center;
    clear: both;
    margin-bottom: 22px;
}

.phone-number-box{
    float: left;
    clear: both;
    border:2px solid #eee;
    border-radius: 16px;
    background-color: white;
    z-index: 5;
    position: relative; 
    width: 204px;
    padding: 2px 0;
    font-size: 18px;
}

.call-to, .phone-number{
    display: block;
    float: left;
    -moz-transform: rotate(0deg) scale(0.6, 1) skewX(0deg) skewY(0deg) translate(0, 0);/* FF3.5+ */
-webkit-transform: rotate(0deg) scale(0.6, 1) skew(0deg, 0deg) translate(0, 0);/*Saf3.1+, Chrome*/
-o-transform: rotate(0deg) scale(0.6, 1) skew(0deg, 0deg) translate(0, 0);/* Opera 10.5 */
-ms-transform: rotate(0deg) scale(0.6, 1) skew(0deg, 0deg) translate(0, 0);/* IE 9 */
transform: rotate(0deg) scale(0.6, 1) skew(0deg, 0deg) translate(0, 0);
}
.phone-number{
    color:#6796a0;
    font-weight: 700;
    margin:0 -10px 0 -10px;
}
.call-to{
    color:black;
    margin:0 -10px 0 -10px;
}
//-----------------------------------------------------------------Front Content
.front-page .front-content{

}

.vid-description{
    border-radius: 10px;
    background-color: #343755;
    color:white;
    margin-top: -12px;//height of content section
    margin-bottom: 5px;
    width: 178px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color=#F5F5F5)";/*IE 8*/
    -moz-box-shadow: 0 2px 2px 3px rgba(245,245,245,0.7);/*FF 3.5+*/
    -webkit-box-shadow: 0 2px 2px 3px rgba(245,245,245,0.7);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 2px 2px 3px rgba(245,245,245,0.7);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#F5F5F5); /*IE 5.5-7*/
}

//-----------------------------------------------------------------Second slider
#second-slider{//height of content section
    margin-bottom: 40px;
    background:url(/img/bg/video-bg.png) no-repeat top left;
    .carousel-inner{
        width:170px;
        height: 277px;
        .item{
            margin: auto;
            top:50%;
            margin-top: -40px;
        }
    }
}

.second-slider-holder{
    z-index: 3;
}

//-----------------------------------------------------------------Footer styles
.footer{
    background-color: #0078D7;
    border-bottom-left-radius: @body-border-radius;
    border-bottom-right-radius: @body-border-radius;
    height:258px;

    .footer-menu-block{
        margin-top: 46px;
        ul{
            padding-left:0px;
            li{
            list-style: none;
             a{
            color: white;
            font-size: 12px;
          }
        }
      }      
    }
    
    .social{
        margin-top: 160px;
        z-index:2;
        position:relative;
            .social-links{
                li{
                    display: inline-block;
                    a{
                        display: block;
                        height: 25px;
                        width: 25px;
                        text-indent: -9999px;
                        text-align:center;
                         &.facebook{
                            background: url(/img/misc/sprite.png) no-repeat left; 
                            background-position:-77px -66px, center;
                        }
                        &.twitter{
                            background: url(/img/misc/sprite.png) no-repeat left; 
                            background-position:-77px -94px, center;
                        }
                        &.googleplus{
                            background: url(/img/misc/sprite.png) no-repeat left; 
                            background-position:-77px -123px, center;
                        }
                        &.linkedin{
                            background: url(/img/misc/sprite.png) no-repeat left; 
                            background-position:-77px -151px, center;
                        }
                    }
                }
               
            }
             p{
                color:#3a44ad;
                font-size: 11px;
                }
    }
}

ul.social-links {
    padding-left: 0;
}

.front-page .footer:after{//-------------------------------------------footer background
        content:"";
        position:absolute;
        top:-165px;
        right: 0;
        width: 424px;
        height: 423px;
        background: url(/img/bg/home-footer-bg.png) no-repeat top right;     
        border-bottom-right-radius: @body-border-radius;
    }
    
.uyelik{
    margin-top: 58px;
    margin-bottom: 7px;
    width: 82px;
    height: 37px;
    background: url(/img/misc/sprite.png) no-repeat left; 
    background-position:-21px -15px, center;
    color:white;
    line-height: 1.8;
    padding-left: 10px;
}

.copyright p{
    color: white;
    font-size: 8px;
}

//------------------------------------------------------------------------------
//-----------------------------------------------------------Page Content Styles
//------------------------------------------------------------------------------
h1 {
    color: #408bd9;
    font-family: Tahoma, sans-serif;
    margin-top:10px;
    b{
        font-weight: 700;
    }
}

h2{
    margin-bottom: 20px;
}

.content-page{
    .wrapper{
    background: url(/img/bg/page-head-bg.png) no-repeat top left,
        url(/img/bg/page-content-bg.png) no-repeat 0px 350px,
        #ffffff;
    }
    section{
      // background-color:white; 
    }    
    .header{
        height:155px;
        
        a.logo{
            display: block;
            width: 151px;
            height: 85px;
            background: url(/img/misc/logo.png) no-repeat top left;
            text-indent: -9999px;
            margin-top: 95px;
            margin-left: 95px;
        }
        
        .top-page-link{
            margin-top: 30px;
        }
    }
}

.page-container-inner{
    min-height: 544px;
}
//-------------------------------------------------------------Page Left sidebar
.page-left-sidebar{
    float: left;
    margin-top: 30px;
    padding-top: 43px;
}

.page-logo{
    float: left;
    width:126px;
    height: 118px;
    margin-top: 35px;
    margin-bottom: 30px;
}

.page-1-logo{
    background: url(/img/misc/page-1-sprite.png) no-repeat top left;
    background-position: 0 0,center;    
}

.page-image{
    width: 305px;
    height: 215px;
    float:left;
    margin-top: 60px;
}

.page-1-image{
    background: url(/img/misc/page-1-sprite.png) no-repeat top left;
    background-position: -76px -138px,center; 
    
}

.content-page .left-menu{
    margin-left: 65px;
}
//-----------------------------------------------------------Page content styles

.content-page{
    .header{
        border-top-left-radius: @body-border-radius;
    }
}

.page-content{
    padding-top:10px;
    float: left;
    position:relative;
    margin-bottom: 30px;
    &:before{
        content: "";
        position: absolute;
        left: -35px;
        width: 2px;
        border-right: 2px dotted @content-page-border-color;
        height: ~'calc(100% - 120px)';
        top: 60px;
    }
    
}

.page-header {
    padding-bottom: 12px;
    margin: 10px 0 10px 0;
    border-bottom: 2px dotted @content-page-border-color;
}

.page-text{
    padding-right: 50px;
}

.lead{
    color:#0077d3;
    margin-top: 20px;
    letter-spacing:-.1em;
    line-height:1;
    font-size: 43px;
    .lvl-1{
        font-size: 58px;
    }
    .lvl-2{
        font-size: 43px;
    }
}


//-------------------------------------------------------------------Page Footer
.content-page{
    .footer{
        position: relative;
    }
    .footer>div:last-of-type{
        height: 258px;
        border-bottom-right-radius: @body-border-radius;
        position: relative;
        z-index: 2;
    }
    .footer:after{//-------------------------------------------footer background
        content:"";
        position:absolute;
        top:-32px;
        right: 0;
        width: 327px;
        height: 290px;
        background: url(/img/bg/page-bottom-bg.png) no-repeat top left;     
        border-bottom-right-radius: @body-border-radius;
    }
}