
@bg-img:                url(/img/bg/main_bgr.png);


@text-color:            #737373;

@font-face {
font-family: 'Geneva';
font-style: normal;
font-weight: normal;
src: url('/fonts/Geneva.ttf') format('truetype');
}

@font-size-h1:                              44px;
@font-size-h2:                              26px;

@body-border-radius:                         4px;

@font-family-base: 'Geneva';

@carousel-control-width:                      10%;
@carousel-control-opacity:                    1;


// Main menu settings
@nav-link-padding:                          5px 5px;
@nav-link-hover-bg:                         transparent;


// Dotted border color
@content-page-border-color:                 #c0ddf4;

//** Number of columns in the grid.
@grid-columns:              24;
//** Padding between columns. Gets divided in half for the left and right.
@grid-gutter-width:         0px;

@btn-default-color:              #fff;
@btn-default-bg:                 #696ea4;
@btn-default-border:             #343755;
@btn-border:                    2px solid #343755;